files/1920x1080/part.png
__pycache__/
*.bck
*.old
backup/
development/

# IDE Settings
.vscode/
.idea

# Personal Settings Files
conf/user/*.ini
conf/user/*.json
!conf/user/*.sample.ini
!conf/user/*.sample.json

# Log file
mfb.log
