# Files directory
files/
!files/1920x1080
files/1920x1080/part.png
!files/gui
!files/Images_LICENSE

# Cache
__pycache__/
*.bck
*.old
*.swp
backup/

# Development
development/

# IDE Settings
.vscode/
.idea

# Personal Settings Files
conf/user/*.ini
conf/user/*.json
!conf/user/*.sample.ini
!conf/user/*.sample.json

# Log file
mfb.log
