files/1920x1080/screen.png
files/2560x1440/screen.png
files/3840x2160/screen.png
files/1920x1080/part.png
files/2560x1440/part.png
files/3840x2160/part.png
files/1920x1080/heroes/*/main.png
files/2560x1440/heroes/*/main.png
files/3840x2160/heroes/*/main.png
files/1920x1080/heroes/*/group.png
files/2560x1440/heroes/*/group.png
files/3840x2160/heroes/*/group.png
__pycache__/
*.bck
*.old
backup/
development/

# IDE Settings
.vscode/

# Personal Settings Files
settings.ini
conf/combo.ini
conf/thresholds.json

# Log file
mfb.log
